{% extends 'base.html.twig' %}

{% block content %}


	<div id="fullpage">
		<div id="home" class="section text-center">
			<img src="" alt=""/>
			<span>Alohomora</span>
			<span>Free, self-hosted password manager</span>

		</div>

		<div id="about" class="section text-center">
			<span>About</span>
		</div>

		<div id="download" class="section text-center">
			<span>Download</span>
		</div>

		<div id="more" class="section text-center">
			<span>More</span>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="assets/js/jquery.fullpage.js"></script>


	<script>
		$('#fullpage').fullpage();
	</script>
{% endblock %}
